html {
  font-size: 62.5%;
}
body {
  background-color: #f2f2f2;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: darkslategray;
  transition-duration: 0.5s;
}
hr {
  width: 80%;
  border-top: #ccc;
  margin: 20px auto;
}
.movie-card {
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
}
.movie-director {
  padding: 4px 0;
  font-size: 0.8rem;
}
.saved-list {
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 50px 1rem 1rem;
  margin: 1rem auto;
  cursor: pointer;
  width: 75%;
}
.saved-list h3 {
  font-weight: 400;
  background-color: lightskyblue;
  padding: 5px 10px 5px 20px;
  position: absolute;
  margin: 0;
  left: 0;
  top: 15px;
}
.saved-list .saved-movie {
  margin: 0 10px;
}
.saved-list .home-button {
  font-weight: 700;
  background-color: lightskyblue;
  padding: 5px 20px 5px 10px;
  position: absolute;
  right: 0;
  top: 15px;
}
.saved-list .home-button:hover {
  background-color: lightcoral;
  transition-duration: 0.5s;
}
.saved-active {
  color: blue;
  border: 1px solid grey;
  padding: 5px;
}
.save-wrapper {
  position: relative;
  width: 75%;
  margin: 1rem auto;
}
.save-wrapper .save-button {
  background-color: lightskyblue;
  font-weight: 700;
  font-size: 1.4rem;
  border: 0;
  position: absolute;
  top: 20px;
  right: 0px;
  padding: 5px 20px 5px 10px;
}
.save-wrapper .save-button:hover {
  background-color: lightcoral;
  color: darkslategray;
  transition-duration: 0.5s;
}
